@charset "utf-8";
/* CSS Document */

body{
	font-family: "Courier New";
}

/*****style section1*****/
#section1 {
	position: absolute;
	height: 768px; 
	width: 1349px;
    position: relative; 
    box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
	background-image: url(../images/tutorial3/background.jpg); 
}

#section1 img{
	position: relative;
	top: 25px;
	left: 277px;
}

/*****style navigation*****/
#section1 nav{
	position: relative;
	right: 50px;
	width: 680px;
	height: 57px;
	float: right;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

#menu1 ul{	
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#menu1 li{
	float: left;
	margin-bottom: 0px;
}

#menu1 a{
	font-family: 'Roboto Slab', serif;
	font-size: 21px;
	text-decoration:none;
	color: #000;
    display:block;
	padding-top: 30px;
	padding-bottom: 0px;
	width: 200px;
	height: 29px;
	margin-left: 13px;
	margin-right: 13px;
	text-align: center;
}

#menu1 a:hover{
	background-color: #000;
	color: #FFF;
	font-weight:bold;
}

#menu2{
	display: none;
	position: absolute;
	top: 58px;
}

#menu2 ul{	
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#menu2 li{
	float: left;
	margin-bottom: 0px;
}

#menu2 a{
	font-family: 'Roboto Slab', serif;
	font-size: 17px;
	text-decoration:none;
	color: #333;
    display:block;
	padding-top: 20px;
	padding-bottom: 5px;
	width: 226px;
	height: 20px;
	text-align: center;
}

#menu2 a:hover{
	background-color: #000;
	color: #FFF;
}
/*****end style navigation*****/

#title{
	font-family: 'Roboto Slab', serif;
	font-size: 80px;
	text-align: center;
	color: #000;
	width: 450px;
	position: absolute;
	font-weight: 100;
	top: 220px;
	left: 100px;
}

#subTitle{
	font-family: "Courier New";
	font-size: 29px;
	text-align: center;
	width: 450px;
	position: absolute;
	top:315px;
	left: 100px;
}
/*****end style section1*****/



/*****style video*****/

#video{
	width: 350px;
	height: 220px;
	background-color:#000;
	position: absolute;
	top: 394px;
	left: 145px;
}

#video1{
	height: 100%;
	width: 100%;
}

#video2{
	width: 420px;
	height: 345px;
	background-color: #CCC;
	position: absolute;
	top: 230px;
	left: 695px;
}


/*****end style video*****/
