<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
	<title>My Cats</title>
	<link type="text/css" rel="stylesheet" href="/css/my_cat.css" />
</head>
<body>

<div id="container">
	<p>All my cats.</p>
	<form action="/tutorial8/cats" method="get">
	<div>
		<label for="name">Owner name:</label>
		<input type="text" name="name"/ size="30">
	</div>
	<div><input type="submit" value="Filter"></div>
	</form>
		{% for cat in cats %}
        <div class="cat" id="{{ cat.name}}">
		<p>{{ cat.name}}</p>
		<blockquote>{{ cat.description}}</blockquote>
        </div>
    
		{% endfor %}
        <a href="/tutorial8">Tutorial 8 Main</a>
</div>

</body>
</html>
{% endautoescape %}